

@if (!uploadComplete)
{  
    @if (ShowCustomButton)
    {
        <label>
            <InputFile InputFileClassName="@InputFileClassName" OnChange="OnFileChange" Visible="@Visible" accept="@AllowedExtensions"/>
             <span class="@CustomButtonClassName">
                <span class="@CustomButtonTextClassName">@ButtonText</span>
            </span>
        </label>
    }
    else
    {
        <div class="inputfilecontainer">
            <InputFile Visible="@Visible" OnChange="@OnFileChange" accept="@AllowedExtensions" />
        </div>    
    }
}
else if (ShowResetButton)
{
    <button class="@ResetButtonClassName" @onclick="Reset">@ResetButtonText</button>
}

@if ((ShowStatus) && (HasStatus))
{
    <p class="@MessageClassName">@status</p>
}

